#table {
    background-color: #fff;
    color: rgb(191, 47, 196);
    border: 5px solid black;
  }

  #vc {
    text-align: center;
    color: rgb(191, 47, 196);
    border: 1px solid black;
  }

  #ok {
    border: 5px solid black;
    background-color: #fff;
  }

  #res {
    visibility: hidden;
    border: 5px solid black;
  }

  #rest {
    display: none;
  }

  #resp {
    text-align: center;
    color: rgb(191, 47, 196);
    border: 0
  }